*
!/**/
!*.*

root.cow*
*.out
*.aux
*.bbl
*.blg
*.log
*.gz
*.fls
*.fdb_latexmk
*.img
*.iso

openwrt/*

references/crypto/*

references/thesis-examples/*

proof-of-concept/openwrt-builder/output/*

proof-of-concept/src/go-ethereum/
