*
!/**/
!*.*

proof-of-concept/ubuntu-22.04.1-live-server-amd64.iso
root.cow*
*.out
*.aux
*.bbl
*.blg
*.log
*.gz
*.fls
*.fdb_latexmk
*.img

openwrt/*

references/crypto/*

references/thesis-examples/*

proof-of-concept/openwrt-builder/output/*
