*
!/**/
!*.*

root.cow*
*.out
*.aux
*.bbl
*.blg
*.log
*.gz
*.fls
*.fdb_latexmk
*.img
*.iso
*.toc

openwrt/*

references/crypto/*

references/thesis-examples/*

proof-of-concept/openwrt-builder/output/*
